/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

div {
    border-radius: 0 !important;
}

.circle {
    -ms-border-radius: 50% !important;
    border-radius: 50% !important;
}

.alert,
.alert h4 {
    color: #c09853;
}

.alert.alert-warning {
    color: #333!important;
}

.alert-success {
    color: #468847 !important;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.theme-black .builder.well .nav>li>a {
    color: #888 !important;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', Arial, Tahoma, sans-serif !important;
    /* font-family: "Helvetica Nue", Helvetica, Arial, sans-serif !important;*/
    font-size: 14px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: relative;
    left: 0;
    opacity: 1;
}

.btn,
button,
input[type="button"] {
    text-transform: uppercase !important;
    background-image: none !important;
}

.alert-info {
    color: #3a87ad !important;
}

.subnav {
    width: 100%;
    background-color: transparent !important;
    background-image: none !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 0px solid #c5c5c5 !important;
    border-top: 0px solid #163355 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    z-index: 5;
}

#user-menu>.btn-group>a {
    text-shadow: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
}

.dropdown-menu {
    position: absolute;
    top: 75px !important;
}

.dropdown-menu .dropdown-menu {
    top: 0px !important;
}

.focused {
    border-top: 0 !important;
    border-bottom: 1px !important;
}

@media (max-width: 979px) {
    .nav-collapse .nav>li {
        float: none;
        width: 100%;
    }
    /*  .dropdown-menu {
        position: absolute;
        top: 175px;
    }*/
    /* .nav-collapse .dropdown-menu {
            position: relative !important;
          
            left: auto;
            display: none;
            float: none;
            max-width: none;
            padding: 0;
            top: 25px !important;
            margin: 0 15px;
            background-color: transparent;
            border: none;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }*/
    .body {
        padding-top: 20px;
        margin-top: 0 !important;
    }
}

@media (max-width: 767px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top {
        margin-right: -20px;
        margin-left: -20px;
        width: 100vw;
    }
}


/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.navbar-inverse .navbar-inner {
    background-color: transparent !important;
    background-image: none!important;
    background-repeat: repeat-x !important;
    border-color: transparent !important;
    filter: none !important;
}